#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  background-color: aliceblue;
  padding: 16px 32px;

}
nav a{
  margin-right: 16px;
}

nav a.active{
  text-decoration: none;
  font-weight: bold;

}